@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    
}
/* header section */
header{
    max-width: 1920px;
    margin: 0 auto;
  
}
.navber{
    width: 100%;
    padding:30px 0;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.nav-main{
    width: 80%;
    margin: 0 auto;
  
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.nav-left{
    display: flex;
    gap: 7px;
    align-items: center;
    
}
#brand{
    color:#FF42A5;
    
}

.nav-left h1{
    font-size: 2.75rem;
    font-weight: 700;
    color: #0B0223;

}
.nav-right{
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
#follow{
    background-color: #0B02231A;
    width: 200px;
    height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 19px;
   border-radius: 10px;
}
.yt{
    color: red;

}
/* banner */
.banner{
    max-width:1920px ;
    margin: 0 auto;
    background: url(../resources/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%;
}
.banner-main-part{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner-left{
    width: 50%;
}
.banner-left h3{
    font-size: 2.75rem;
    font-weight: 600;
    color: #0B0223;
  

}
.banner-left h1{
    font-size: 5.95rem;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #f948b2, #e746c3, #d049d3, #b150e3, #8758f1);
    background-clip: text;
    color: transparent;

}
.banner-left p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #534C64;
    margin-top: 17px;
   

}
.btn-primary-1, .btn-primary-2{
    padding: 18px 40px 18px 40px;
    border: none;
    border-radius: 48px;
    color: white;
    margin-top: 41px;

}
.btn-primary-1{
    background-color: #FF42A5;
    margin-right: 20px;

}
.btn-primary-2{
    background-color: #4EC5F7;

}
.icon{
    margin-right:7px ;
}
#icon1{
    color: #FF42A5;
}
#icon2{
    color: #FF42A5;
    margin-right: 17px;
}

.banner-right{
    width: 50%;

}
.banner-right img{
    width: 100%;
}
/* gamer section */
.gamer{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 55px;
}
.we-are-gamer{
    width: 80%;
    margin: 0 auto;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamer-image{
    width: 50%;
}
.gamer-image img{
    width: 100%;
}
.gamer-text{
    width: 50%;
    text-align: right;
}
.gamer-text h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    background-image: linear-gradient(to bottom, #f948b2, #e746c3, #d049d3, #b150e3, #8758f1);
    background-clip: text;
    color: transparent;


}
.gamer-text p{
    font-size: 1.25rem;
    color: #534C64;

}
#our-text{
    font-size: 1rem;
    font-weight: 500;
    color: #534C64;

}
.gamer-text h5{
    font-size: 1.50rem;
    font-weight: 700;
    color: #534C64;
    margin-top: 24px;
}
/* online game section */
 .online-games{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 120px;

 }
 .online-game{
    width: 80%;
    margin: 0 auto;

    
 }
 .online-game h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
 }
 .online-game p{
    font-size: 1rem;
    text-align: center;
 }
 #funny-text{
    background-image: linear-gradient(to bottom, #f948b2, #e746c3, #d049d3, #b150e3, #8758f1);
    background-clip: text;
    color: transparent;
 }
 .online-game-container{
    display: flex;
    gap: 16px;
    margin-top: 48px;

 }
 
 .game-card-item{
    width: 240px;
    height: 300px;
    border-radius: 16px;
 }
 .game-card > p{
    font-size: 1rem;
    font-weight: 500;
    color: #534C64;
    margin-top: 10px;

 }
 #game-card-1{
    background-image: url(../resources/Rectangle\ 4.png);
    
    background-size: cover;
 }
 #game-card-2{
    background-image: url(../resources/Rectangle\ 5.png);
    background-size: cover;

 }
 #game-card-3{
    background-image: url(../resources/Rectangle\ 6.png);
    background-size: cover;

 }
 #game-card-4{
    background-image: url(../resources/Rectangle\ 7.png);
    background-size: cover;

 }
/* responsive device */

@media screen and (max-width:576px) {
    .nav-main{
        flex-direction: column;
        gap: 60px;
    }
    .nav-right{
        flex-direction: column;
    }
    .banner-main-part{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-left{
        width: 80%;
        background-image: url(../resources/Group\ 14.png);
        background-size: 90%;
        background-repeat: no-repeat;
    }
    .banner-right{
        width: 80%;
    }
    .we-are-gamer{
        flex-direction: column;
    }
    .gamer-image{
        width: 100%;
    }
    .gamer-image img{
        width: 100%;
    }
    .gamer-text{
        width: 100%;
        text-align: center;
    }
    .online-game-container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .game-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .game-card-item{
        width: 80%;
    }
}


